<div class="container">

  <div class="col-md-12">

    <ul class="breadcrumb">
      <li><a href="#">Home</a>
      </li>
      <li>Page not found</li>
    </ul>


    <div class="row" id="error-page">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="box">

          <p class="text-center">
            <img src="img/logo.png" alt="Obaju template">
          </p>

          <h3>The change you wanted was rejected.</h3>
          <h4 class="text-muted">Error 422 - Unprocessable Entity</h4>

          <p class="text-center">Maybe you tried to change something you didn't have access to.</p>

          <p class="buttons">
            <a href="<%= page_path('index') %>" class="btn btn-primary"><i class="fa fa-home"></i>
              Go to Homepage</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <!-- /.col-md-9 -->
</div>
<!-- /.container -->
